/*common*/
@font-face {
    font-family: campton-medium;
    src: url(../fonts/Campton-Medium.woff);
}
@font-face {
    font-family: campton-thin;
    src: url(../fonts/Campton-Thin.woff);
}
@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins-Regular.woff);
}
@font-face {
    font-family: poppins-bold;
    src: url(../fonts/Poppins-Bold.woff);
}
@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins-SemiBold.woff);
}
@font-face {
    font-family: poppins-thin;
    src: url(../fonts/Poppins-Thin.woff);
}
@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.woff);
}
:root {
    --primary: #59855A;
    --white: #ffffff;
    --white-hover: #c2c2c2;
    --accent: #eab93c;
    --accent-hover: #d0a129;
    --image-maxheight: 385px;
    --black: #000;
  }

a:active, a:focus, a:hover, a:link, a:visited{
    color: var(--black);    
}  

.btn.btn-lg.btn-primary {
    background-color: var(--accent);
    color: black;
    text-transform: uppercase;
    font-family: 'poppins-semibold';
}

body:not(.tk-home) #app {
    padding-top: 100px;
}

section.product-detail {

}

input::placeholder{
    font-family:poppins-light;
}

.tk-row{
margin:0;
}

.tk-block{
    display: block;
}
.tk-flex{
    display: flex;
}
.tk-text-size1{
    font-size: 29px;
}
.tk-text-size2{
    font-size: 16px;
}
.tk-fontfamily1-thin{
    font-family: poppins-thin;
}
.tk-fontfamily1-regular{
    font-family: poppins-regular;
}
.tk-fontfamily1-light{
    font-family: poppins-light;
}
.tk-text-bold{
    font-weight: 600;
}
#app .container{
    width: unset;
    padding: 0;
}


#header {
    color: #fff;
    background: #044606ad;
    position: fixed;
    top: 0;
    transition: 500ms linear; 
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000099;
    margin:0;
    height: auto;
    padding: 0 160px;
}
body:not(.tk-home) #header{
    background: #2b641c;
       transition: background 500ms linear;
}
#header.active {
    background: #2b641c;
        transition: background 500ms linear;
}
#header .header-top div.left-content ul.logo-container li img{
    max-height: 60px;
}

#header .header-top{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .icon.cart-icon,.header .icon.account-icon {

    filter: brightness(0) invert(1);

}

.header .right-content-menu span.name, .header .right-content-menu .icon.arrow-down-icon,.header .right-content-menu  .dropdown-toggle::after{
    display: none;
}

#megabanner.slider-block div.slider-content ul.slider-images li img{
    object-fit: cover;
    height: 605px;
}
#megabanner.full-bleed {
    width: 100vw;
    margin-left: 50% !important;
    transform: translateX(-50%);
}

.logo-container span.store-name{

    display: inline-block;
    height: 100%;
    color: var(--accent);
    font-family: 'poppins-bold';
    font-size: 19px;
    position: relative;
    padding-left: 15px;
    top: 4px;
}
/** NAV BAR **/
nav.navbar {margin-left: 35px;}
.navbar{
    margin-bottom:0;
    padding-bottom:2px;
}
.navbar-nav>li {
    margin-left: 50px;
    padding-bottom: -8px;
}
.navbar-nav>li>a {
    color: white;
    top: 3px;
    position: relative;
    font-family: poppins-semibold;
    text-transform:uppercase
}
.navbar-nav>li>a:hover, .navbar-nav>li.active>a{
    background-color: transparent;
    border-bottom: 7px solid var(--accent);
    color: var(--accent);
    padding-bottom: 20px;
    margin-bottom: -13px;
}

.navbar-nav>li>a:focus {
    background-color: transparent;
}

/**end NAV BAR **/
.slider-images{
    cursor: pointer;
}
.show-content.show .slider-container{
    position:absolute;
    bottom: 25%;
    left: 15%;
}
.show-content.show .slider-container.withbg{
    position:absolute;
    bottom: 25%;
    left: 15%;
    background-color: #16111175;
    padding: 20px;
}

.show-content.show a {
    color:white;
    font-family: poppins-semibold;
    font-size: 14px;
}

.show-content.show p {
    font-size: 56px;
    color: white;
    line-height: 75px;
    font-family: poppins-bold;
    text-shadow: 5px 4px #4c4c4c59;
}
.show-content.show .slider-order{
    font-family: poppins-semibold;
    font-size: 14px;
    color:white;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.show-content.show .slider-order:hover{
    transform: scale(1.5);
    margin-left:30px;
}
.show-content.show .slider-order .tk-icon {
    vertical-align: middle;
    margin-right: 5px;
    height: 40px;
    width: 40px;
}

section.slider-block div.slider-content div.slider-control .light-right-icon {
    background-color: var(--primary) !important;
}
.promote{
    padding: 0;
}
.promote img{
    width: 100%;
}



/** Promote Banner **/


span#search {
    filter: brightness(0) invert(1);
}

span#hammenu {
    filter: brightness(0) invert(1);
}

.promote-content {
    position: absolute;
    top: 29%;
    left: 60%;
    color: var(--white);
}

promote-content span.title {
    display: block;
}

.promote-content span.title {
    font-size: 25px;
    font-family: 'poppins-semibold';
    display: block;
    line-height: 31.4px;
    text-shadow: 0px 3px 6px #000000a6;
}

.promote-content span.promote-button {
    display: inline-block;
    color: black;
    background: var(--white);
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    padding: 12px 24px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'poppins-bold';
    cursor: pointer;
}
.promote-content span.promote-button:hover {
    background: var(--white-hover);
}

.banner-container .container {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
}


.banner-service {
    padding-bottom: 75px;
}
/** end **/

/** Featured Products **/

#app section.featured-products .featured-heading {
    font-size: 29px;
    text-align: left;
}
#app .banner-container {
    margin-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
}



#app .product-image {
    max-height: var(--image-maxheight);
}

#app .product-image img {
    min-height: var(--image-maxheight);
    object-fit: cover;
}


span.featured-seperator {
    display: none;
}

.product-name a span {
    font-size: 16px;
}

#app .product-image .cart-wish-wrap {
   max-width: 400px;
   opacity: 0;
   width: 100%;
   display: block;
   position: relative;
   bottom: 59px;
   transition: opacity 500ms;
}
#app .product-image .cart-wish-wrap form {
   width: 100%;
}
#app .product-image .cart-wish-wrap button {
   width:100%;
   text-align: center;
   padding: 20px;
   font-family: 'poppins-bold';
}
#app .product-image .cart-wish-wrap button:hover {
   background-color: var(--accent);
   opacity:1;
}
#app .product-image:hover .cart-wish-wrap {
   opacity:1;
}


.product-price {
    font-size: 20px;
}

.quantity label {
    font-family: 'poppins-light';
}

#app section.product-detail div.layouter .form-container .details .quantity {
    border-top: none;
    width: auto;
    display: inline-block !important;
}

.add-to-buttons {
    display: inline-block;
}

.add-to-buttons .btn-primary.addtocart, .add-to-buttons .btn-primary.addtocart:active, .add-to-buttons .btn-primary.addtocart:focus{
    color: black;
    font-size: 13px;
    background-color: var(--accent);
    border-radius: 50px !important;
    border:none;
    font-family: poppins-semibold;
    text-transform: uppercase;
    padding: 8px 16px;
    margin-left: 12px;
}


#app .product-image-group {
    height: auto;
    width: auto;
    min-width: 35%;
    margin-bottom: 50px;
}

.product-detail ul.nav.nav-tabs {
    font-size: 13px;
    font-family: 'poppins-semibold';
    text-transform: uppercase;
}


.product-detail .nav li a {
    font-family: 'poppins-semibold';
}
.product-detail .nav li.active a {
   color: var(--accent);
}
.tab-content {
    padding-top: 20px;
}


#app span.icon.star-icon {
    background-image: url(../images/product/star_review.svg);
}


/**Newsletter **/

.tk-row.newsletter-block {
    min-height: 242px;
    background-size: cover;
    background-image: url(../images/home/newsletter.webp);
}

.newsletter-block .tk-flex  {
    min-height: 242px;
    max-height: 242px;
    color: var(--white);
    font-family: 'poppins-light';
    text-shadow: 0px 3px 6px #000000a6;
  
}

.newsletter-block .title {
    line-height: normal;
    align-self: center;
    margin-left: 80px;
}



.newsletter-block .actions {
    width: 100%;
    align-self: center;
}

#app input.control.subscribe-field {
    max-width: 315px;
    font-size: 13px;
    border-radius: 30px;
    min-height: 48px;
    max-height: 48px;
    border-color: transparent;
    padding: 0px 30px;
    font-family: 'poppins-light';
}
.control-group .control:focus {
    border-color: var(--accent) !important;
}

.newsletter-block .subscribe-btn {
    background-color: var(--accent);
    text-transform: uppercase;
    padding: 0 30px;
    border-color: transparent;
    border-radius: 50px;
    margin-left: 30px;
    min-height: 48px;
    color: var(
    --white);
}
.newsletter-block .subscribe-btn:hover {
    background-color:#c89410
}
/** END **/


/** TK-icons **/
.tk-icon{
    background-size: cover;
    display: inline-block;
}
.tk-icon.tk-arrow-right{
    background-image: url(../images/link-right-arrow.png);
}

/**Slick**/


li#thumb-frame {
    border-color: var(--accent);
}


/**Product Details **/

.details .sticker {
    display: inline-block;
    border-radius: 40px;
    background-color: #FF0000;
    color: var(--white);
    padding: 4px 8px;
    font-size: 12px;
    font-family: 'poppins-semibold';
    text-transform: uppercase;
}




.details .sticker {
    display: inline-block;
    border-radius: 40px;
    background-color: #FF0000;
    color: var(--white);
    padding: 4px 8px;
    font-size: 12px;
    font-family: 'poppins-semibold';
    text-transform: uppercase;
}

#app .product-heading span {
    font-size: 30px;
    font-family: 'poppins-light';
}

.product-heading {padding-top: 24px;}

section.product-detail div.layouter .form-container .details .product-price {
    font-size: 30px;
    color: var(--primary);
}

.details .product-price span {
    font-weight: normal;
    font-family: 'poppins-regular';
}

.stock-status {
    font-family: 'poppins-regular';
}

section.product-detail div.layouter .form-container .details .description {
    color: #939393;
}


#app .rating-reviews .overall .review-info .number {
    font-size: 60px;
    font-family: 'poppins-semibold';
    margin: 14px;
}

.rating-reviews .review-info  span.stars {
    display: block;
    padding-top: 12px;
    /* padding-bottom: 12px; */
}

#app .rating-reviews .overall {
    display: block;
    text-align: center;
    padding-top: 20px;
}

a.btn.btn-lg.btn-primary {
    background-color: var(--accent);
    border-radius: 40px !important;
    font-family: 'poppins-semibold';
    font-size: 13px;
    text-transform: uppercase;
    color: black;
}
a.btn.btn-lg.btn-primary:hover {
    background-color: var(--accent-hover);
}
.review-info  a.btn.btn-lg.btn-primary:hover {
    margin-top:20px;
}
.rating-reviews .overall .review-info .total-reviews {
    font-size: 12px;
    color: #b9b9b9;
    font-family: 'poppins-regular' !important;
}

.overall .review-info {
    padding-bottom: 12px;
}




.rating-reviews .reviews a.view-all {
    font-family: 'poppins-semibold';
    color: var(--accent);
    text-decoration: underline;
}

.rating-reviews .reviews .review .title {
    font-family: 'poppins-semibold';
}


#app .attached-products-wrapper .title {
    font-size: 29px;
    text-align: left;
}

#app .attached-products-wrapper {
    margin-top: 80px;
}
/** END **/


/** TK-Animations **/

/**GROW ZOOM **/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/**END**/


/** REVIEW PAGE **/


section.review .review-layouter .ratings-reviews .right-side .rater .line-bar div.line-value {
    background-color: var(--accent);
}

section.review .review-layouter .product-info .product-price span.pro-price {
    color: var(--primary);
}

a {}

section.review .review-layouter .product-info .product-name a span{
    font-family: 'poppins-semibold';
}


/**END**/




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header {
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 3px 6px #00000029;
        padding: 0 0;
        z-index: 10000;
        transition: all 0.2s ease-in-out;
    
    }
    #header .header-top{
        padding: 0 10px;
    }

    .logo-container span.store-name {
        display:none;
    }
    nav.navbar {display:none}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#app .rating-reviews .reviews {
    margin-top: 0px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



